<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCBlogSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCBlogSite.styles.css" asp-append-version="true" />

    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">


    @RenderSection("Styles", false)


</head>

<body>
    @await Html.PartialAsync("_navbar")

    <div class="container">
        <div class="row">
            <div class="col-md-2 mt-4">
                <form asp-action="Index" method="POST">
                    <h2 class="posts-title">Categories</h2>
                    <ul class="category-list">
                        @foreach (var item in ViewBag.AllCategories as IEnumerable<CategoryViewModel>)
                        {
                            <li class="category-item">
                                <label class="category-label">
                                    <input type="checkbox" value="@item.GetType().GetProperty("Id").GetValue(item)" name="categoryIds" />
                                    <span class="category-name">@item.GetType().GetProperty("Name").GetValue(item)</span>
                                </label>
                            </li>
                        }
                    </ul>
                    <button class="btn btn-primary" id="sendButton">Send</button>
                    <a class="btn btn-success" href="/Home/Index/1?pageNumber=1" name="pageNumber" id="resetButton">Reset</a>
                </form>

            </div>
            <div class="col-md-9"> @RenderBody()</div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
    @RenderSection("Js", false)

</html>
