@using DAL.Data
@model List<PostViewModel>
@inject AppDbContext _context;

@section Styles {
    <link rel="stylesheet" href="~/css/posts.css" />
}

@if (Model.Count > 0)
{
    <div class="container mt-4">
        <h2 class="posts-title text-center">Pending Posts</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card border-light shadow-sm h-100">
                        <div class="card-img-top" style="background-color: #f8f9fa; background-size: cover; background-position: center; height: 180px;">
                            @if (!string.IsNullOrEmpty(item.PhotoUrl))
                            {
                                <img src="~/img/@item.PhotoUrl" alt="Profile Photo" class="profile-photo" />
                            }
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">
                                @(item.Content?.Length > 100 ? item.Content.Substring(0, 100) + "..." : item.Content)
                            </p>
                            <small class="text-muted">Created Date: @item.CreatedDate.ToString("dd-MM-yyyy")</small>
                        </div>

                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <div class="alert alert-danger p-2">Onay Bekliyor..</div>
                            @{
                                var user = _context.Users.FirstOrDefault(x => x.Id == item.UserId);
                            }

                            <a asp-route-id="@user.Id" asp-controller="Account" asp-action="Profile" style="text-decoration:none;"><small class="text-muted"> @user.UserName </small></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="alert alert-warning mt-4">There are no posts pending approval...</div>
}
