@using DAL.Data
@model List<PostViewModel>
@inject AppDbContext _context;

@{
    var loggedInUserId = Context.Session.GetInt32("UserId");
    var role = Context.Session.GetString("IsAdmin");
}


<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap"
                         preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Image</title>
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                        <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
                    </svg>

                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Content</p>
                        <small class="text-muted">Created Date: @item.CreatedDate.ToString("dd-MM-yyyy")</small>
                    </div>

                    <div class="card-footer">
                        <form asp-action="Like" method="POST" style="display:inline">
                            <input type="hidden" name="postId" value="@item.Id" />
                            <button type="submit" class="btn btn-info"><i class="bi bi-hand-thumbs-up">@item.Likes</i></button>
                        </form>

                        @if (item.UserId == loggedInUserId)
                        {
                            <form asp-action="Delete" method="POST" style="display:inline">
                                <input type="hidden" name="postId" value="@item.Id" />
                                <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                            </form>
                        }
                        @if (role == "True")
                        {
                            @if (item.IsApproved == false)
                            {
                                <form asp-action="Approve" method="POST" style="display:inline">
                                    <input type="hidden" name="postId" value="@item.Id" />
                                    <button type="submit" class="btn btn-success"><i class="bi bi-check-circle"></i></button>
                                </form>
                            }

                            <form asp-action="Delete" method="POST" style="display:inline">
                                <input type="hidden" name="postId" value="@item.Id" />
                                <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                            </form>
                        }
                        <div class="mt-2">
                            <small class="text-muted">@_context.Users.FirstOrDefault(x => x.Id == item.UserId).UserName</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
