@{
    Layout = "_IndexLayout";
}

@using DAL.Data
@model List<PostViewModel>
@inject AppDbContext _context;

@section Styles {
    <link rel="stylesheet" href="~/css/posts.css" />
}


@{
    var loggedInUserId = Context.Session.GetInt32("UserId");
    var role = Context.Session.GetString("IsAdmin");
}

@if (loggedInUserId == null) // Kullanıcı giriş yapmamışsa
{
    <div class="container mt-4">
        <h2 class="posts-title text-center">Posts</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model.Take(5)) // 5 Adet post görünür.
            {
                <div class="col">
                    <div class="card border-light shadow-sm h-100">
                        @if (!string.IsNullOrEmpty(item.PhotoUrl))
                        {
                            <img src="~/img/@item.PhotoUrl" alt="Profile Photo" class="profile-photo" />
                        }

                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">@item.Content</p>
                            <small class="text-muted">Created Date: @item.CreatedDate.ToString("dd-MM-yyyy")</small>
                        </div>

                        <div class="card-footer d-flex justify-content-between align-items-center">

                            @{
                                var user = _context.Users.FirstOrDefault(x => x.Id == item.UserId);
                            }

                            <a asp-route-id="@user.Id" asp-controller="Account" asp-action="Profile" style="text-decoration:none;"><small class="text-muted"> @user.UserName </small></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Kullanıcı Giriş Yapmamışsa 60 saniye sonra Login sayfasına yönlendir. -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function redirectToLogin() {
                window.location.href = '@Url.Action("Login", "Account")';
            }
            setTimeout(redirectToLogin, 60000); // 60 saniye
        });
    </script>
}
else // Kullanıcı giriş yapmışsa
{
    <div class="container mt-4">
        <h2 class="posts-title text-center">Posts</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card border-light shadow-sm h-100">
                        <div class="card-img-top" style="background-color: #f8f9fa; background-size: cover; background-position: center; height: 180px;">
                            @if (!string.IsNullOrEmpty(item.PhotoUrl))
                            {
                                <img src="~/img/@item.PhotoUrl" alt="Profile Photo" class="profile-photo" />
                            }
                            else
                            {
                                <rect width="100%" height="100%" fill="#868e96"></rect>
                            }
                        </div>
                        <div class="card-body">
                            
                            <a asp-route-id="@item.Id" asp-controller="Home" name="id" asp-action="PostDetail" style="text-decoration:none; color:black;">
                                <h5 class="card-title">@item.Title</h5>
                                </a>
                            
                                <p class="card-text">
                                @(item.Content?.Length > 100 ? item.Content.Substring(0, 100) + "..." : item.Content)
                            </p>
                           
                            <small class="text-muted">Created Date: @item.CreatedDate.ToString("dd-MM-yyyy")</small><br />
                            
                            @foreach (PostCategoryViewModel category in ViewBag.AllPostCategories)
                            {
                                if (category.PostId == item.Id)
                                {
                                    <small class="card-category-label">@category.Category.Name</small>
                                }
                            }

                        </div>

                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <div class="btn-group" role="group">
                                @if (role != "True")
                                {
                                    <form asp-action="Like" method="POST" style="display:inline">
                                        <input type="hidden" name="postId" value="@item.Id" />
                                        <button type="submit" class="btn btn-outline-primary btn-sm me-2">
                                            @{
                                                bool isLiked = ((IEnumerable<SelectListItem>)ViewBag.UserPostLikes).Any(like => like.Value == item.Id.ToString());
                                            }
                                            @if (isLiked)
                                            {
                                                <i class="bi bi-hand-thumbs-up-fill"></i> @item.Likes
                                            }
                                            else
                                            {
                                                <i class="bi bi-hand-thumbs-up"></i> @item.Likes
                                            }

                                        </button>
                                    </form>
                                }

                                @if (item.UserId == loggedInUserId || role == "True")
                                {

                                    @if (item.UserId == loggedInUserId || role == "True")
                                    {
                                        <form asp-action="Delete" method="POST" style="display:inline">
                                            <input type="hidden" name="postId" value="@item.Id" />
                                            <button type="submit" class="btn btn-outline-danger btn-sm me-2">
                                                <i class="bi bi-trash"></i> Delete
                                            </button>
                                        </form>
                                    }

                                    @if (role == "True")
                                    {
                                        @if (item.IsApproved == false)
                                        {
                                            <div class="alert alert-danger" style="font-size: 0.8em;">Henüz Onaylanmadı..</div>
                                        }
                                    }
                                }
                                @if (loggedInUserId != item.UserId)
                                {
                                    <form asp-action="Complain" method="POST" style="display:inline">
                                        <input type="hidden" name="postId" value="@item.Id" />
                                        <button type="submit" class="btn btn-outline-warning btn-sm me-2">
                                            <i class="bi bi-person-fill-exclamation"></i>
                                        </button>

                                    </form>
                                    @if (@TempData["ErrorMessage"] != null && Convert.ToInt32(TempData["PostId"]) == item.Id)
                                    {
                                        <div id="errorAlert" class="alert alert-danger" style="font-size: 0.8em;">
                                            @TempData["ErrorMessage"]
                                        </div>
                                    }
                                }

                            </div>

                            @{
                                var user = _context.Users.FirstOrDefault(x => x.Id == item.UserId);
                            }

                            <a asp-route-id="@user.Id" asp-controller="Account" asp-action="Profile" style="text-decoration:none;"><small class="text-muted"> @user.UserName </small></a>
                        </div>
                    </div>
                </div>
            }

        </div>

        <!-- Pagination   -->
        <div>
            @{
                var currentPage = ViewBag.CurrentPage ?? 1; // Varsayılan olarak 1. sayfa
                var pageNumbers = Math.Ceiling((double)_context.Posts.Where(x => x.IsApproved == true && x.IsDeleted == false).Count() / 9);
                var nextPage = currentPage + 1;
                var previousPage = currentPage - 1;
            }

            <div class="pagination-container mt-4">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" name="pageNumber">@currentPage/@pageNumbers</a>
                    </li>
                    <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                        <a class="page-link" href="/Home/Index/1?pageNumber=1" name="pageNumber"><small>« İlk</small> </a>
                    </li>
                    <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                        <a class="page-link" href="/Home/Index/1?pageNumber=@previousPage" name="pageNumber"><small>←</small> </a>
                    </li>
                    @for (int i = 1; i <= pageNumbers; i++)
                    {
                        <li class="page-item @(i == currentPage ? "active" : "")">
                            <a class="page-link " asp-action="Index" asp-route-pageNumber="@i" name="pageNumber">@i</a>
                        </li>

                    }
                    <li class="page-item @(currentPage == pageNumbers ? "disabled" : "") ">
                        <a class="page-link" href="/Home/Index/1?pageNumber=@nextPage" name="pageNumber"><small>→</small> </a>
                    </li>
                    <li class="page-item @(currentPage == pageNumbers ? "disabled" : "")">
                        <a class="page-link" href="/Home/Index/1?pageNumber=@pageNumbers" name="pageNumber"><small>Son »</small> </a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
}


@section Js {
    <link href="~/js/index.js" rel="stylesheet" />
}